body {
  background-repeat: no-repeat;
  background-position: center top;    
}
  
html
{
  height: 99.9%;
  width: 99.9%;
}

body
{
  height: 99.9%;
  width: 99.9%;
  margin: 0;
  padding: 0;
}

h2
{
  font-weight: bold;
  font-size: 30px;
  color: Navy;
}

h3
{
  font-weight: bold;
  font-size: 20px;
  color: Yellow;
}

  
prototypes, module, messages, storage, initializer, jasp, handler, .module, .prototype
{
  display: none;
}   

.clear{
	clear: both;	
}

.invisible
{ 
  display: none!important;
}

.layout-table
{
  height: 100%;
  width: 100%;
}

.layout-table td
{
  background: white;
}

.dialog
{
  display: none;
  position: absolute;
  z-index: 1000;
  background: gray;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0px;
  left: 0px;
}

.dialog-inner
{
  position: absolute;
  z-index: 1001;
  background: white;
  border: solid 1px black;
  top: 50%;
  left: 50%;
  opacity: 1;
}

