<div class="popup prototype" onclick="this.del(); event.stopPropagation();">
	
</div>

<style type="text/css">
	.popup {
		background-color: white;
		border: 1px solid black;
		border-radius: 4px;
		top: 0;
		color: white;
		height: 300px;
		position: absolute;
		right: 0;
		text-align: center;
		width: 300px;
		z-index: 200;
		font-size: 12px;
		padding : 10px;
	}	
</style>

<script type="text/javascript">
	Popup = M.GetModuleEndsUrl("popup.htm");
	
	Popup.Proto = DOM(".popup.prototype");
	
	Popup.Show = function(content, parent){
		if (!parent) parent = WS.Body;
		var popup = Popup.Proto.clone();
		popup.style.top = parent.offsetTop + "px";
		popup.style.left = parent.offsetLeft + "px";
		if (content) popup.add(content);
		parent.add(popup);
	};
</script>
