<script type="text/javascript">

	TreeList = function(list){
		
	}
	
	TreeList.Init = function(list){
		list.all(">.tree-node").each(TreeList.InitNode);
	}
	
	TreeList.InitNode = function(node){
		var title = node.get(">.tree-node-title");
		if (!title){
			title = DOM.div(".tree-node-title");
			title.set(node.get("@title"));
			node.ins(title);
		}
		var content = node.get(">.tree-node-content");
		if (!content){
			content = DOM.div(".tree-node-content");			
			for (var i = 0; i < node.childNodes.length; i++){
				var child = node.childNodes[i];
				if (child.is && child.is(".tree-node-title")) continue;
				content.add(child);
				i--;
			}
			node.add(content);
		}				
				
		title.onclick = function(){
			WS.ToggleClass(node, "opened");
		};
		node.expand = TreeList.expandNode;
		content.all(">.tree-node").each(TreeList.InitNode);
	}
	
	TreeList.expandNode = function(){
		this.add(".opened");
	}
	
	TreeList.prototyope = {
		tree_toggle : function(event) {
			
		}
	}

	C.Add({
		Selector: ".tree-list",
		Condition : "ui-processing",
		Process: function(elem){
			TreeList.Init(elem);
		}
	})

</script>

<style type="text/css">

	.tree-list .tree-node-title{
		cursor: pointer;
		color: green;
		text-decoration: underline;
	}
	
	.tree-list .tree-node-title:hover{
		color: navy;	
	}
	
    .tree-list .tree-node:not(.opened)>.tree-node-title::before {
		content: "+";
	}
	
	.tree-list .tree-node.opened>.tree-node-title::before {
		content: "-";
	}

	.tree-list .tree-node>.tree-node-content {
		display: none;
		padding: 20px;
	}
	
	.tree-list .tree-node.opened>.tree-node-content {
		display: block;
	}
	
</style>