
<include url="System.Dragging.htm"></include>
<include url="System.Modules.htm"></include>
<include url="System.Toolbars.htm"></include>
<include url="System.Notification.htm"></include>

<script type="text/javascript" url="System.Windows.js">
</script>



<style type="text/css" url="system.Windows.htm" module="Windows" key="system.Windows.htm" id="system.Windows.htm">
  
.drag-frame
{
    position: fixed;
    opacity: 0.5;
    background-image: url(data:image/gif;base64,R0lGODlhAwADAIAAANve4f/7/yH5BAAAAAAALAAAAAADAAMAAAIETHAZBQA7);
    border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 50;
}
  
.window
{
  font-family: verdana;
  font-size: 12px;
  position: fixed;
  border: solid 1px gray;
  overflow: visible;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 0;
  left: 0;
}
  
.window_resizer
{
    position: absolute;    
    right: 0px;    
    bottom: 0px;    
    width: 20px;
    height: 20px;
    z-index: 25;
}
  
  .window_resizer:hover
  {
    background-color: blue;  
  }
  
.window.ui_standart_window, .window.standart
{
  z-index: 20;
  background-image: url(data:image/gif;base64,R0lGODlhAwADAIAAANve4f/7/yH5BAAAAAAALAAAAAADAAMAAAIETHAZBQA7);
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding-bottom: 30px;
  min-width: 150px;
  min-height: 10px;
}

.window.frame_window{
  background-color: #EEE;
  padding: 10px;
  border: solid 1px silver;
}
  
.window.fullscreen
{
    width: 100%!important;
    height: 100%!important;
    left: 0!important;
    top: 0!important;
}
  
.window.fullscreen .window_content{
  height: 90%;
  overflow-y: scroll;
  z-index: 0;
}
  
.window.frame_window .window_title{
  margin: 4px;
  color: gray;
    font-size: 10px;
    font-weight: bold;
}
  
.window.top
{
  z-index: 200;
} 

.window .status-box
{
  background-color: none;
  opacity: 0.7;
  border-top: solid 1px gray;
  width: 100%;
  height: 25px;
  text-align: center;
  cursor: default;
  padding-top: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: navy;
}

.window .window_content{
  display: block;
}

.window_header.toolbar
{
  
}
  
.window.smallwindow
{
  -moz-box-sizing: border-box;
  color: black;
  font-family: verdana;
  font-size: 12px;
  position:fixed;
  z-index: 10;
  background-color: white;
  background-image:url(data:image/gif;base64,R0lGODlhAwADAIAAANve4f/7/yH5BAAAAAAALAAAAAADAAMAAAIETHAZBQA7);
  border: solid 1px gray;
  border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 5px;
}
  
.window.smallwindow .window_header
{
  width: 80%;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
  border: solid 1px yellow;
  background-color: #EA0;
  font-weight: bold;
  color: navy;
  position: relative;
}

.window.smallwindow .window_content
{
    width: 100%;
    height: 100%;
}
  
.window.smallwindow .window_header:hover
{
  background-color: #FFCC33; 
  cursor: move;
}
  
  
.window.smallwindow .window_header .close-button
{
    position: absolute;
    top: 1px;
    right: 2px;
    width: 24px;
    height: 24px;
    float: right;
    background: url("http://system.web-manufacture.net/Images/gtk-close.png") no-repeat;
}
  
  
.window.smallwindow .window_header .close-button:hover
{
  border: dotted 1px gray; 
}
  

.window .header.command-wait
{
  background-color: #FFFF99;
}


.window .header.command-accept
{
  background-color: orange;
}
  
.window.top .window_title
{
    background-color:#CCFFCC
}
  
.window.ui-draggable-dragging
{
     background-image: none;
   background-color: rgba(255,255,255, 0.6); 
}
  
.window.ui-draggable-dragging *:not(.header)
{
    display:none;
    
}
  
.window_manager .window_manager_item{
  background-color: white;
  border: 1px solid gray;
  padding: 2px;
  width: 40px;
  height: 40px;
  overflow: hidden;
    float: left;
    margin: 2px;
}
  
  .window_manager .window_manager_item:hover
{
  background-color: yellow;
}
</style>
  <div class="window prototype ui_standart_window standart"> 
    <div class="window_title">
    </div>
    <div class="window_header toolbar" drag-type="dragger" draggable="true">
      <div class="subbar">
        <div class="menuitem btn-hide" onclick="Win.HideWindow(this);" icon="close-small.png">
        </div>
        <div class="menuitem btn-close" onclick="Win.CloseWindow(this);" >
        </div>
        <div class="menuitem btn-close" onclick="Win.MakeFullscreen(this);" icon="view-fullscreen.png">
        </div>
      </div>
    </div>
    <div class="window_resizer" drag-type="resize" draggable="true">
      
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="window prototype frame_window" draggable="true" drag-type="self"> 
    <div class="window_title">
      
    </div>
    <div class="window_commands">
      <div class="window_command hide">
      </div>   
      <div class="window_command icon">
      </div>
    </div>
  </div>

  <div class="window prototype fullscreen"> 
    <div class="window_header toolbar">
      
    </div>
    <div class="clear"></div>
  </div>
  
  <div  class="window prototype smallwindow">
    <div class="window_header" drag-type="dragger" draggable="true" ondblclick="Win.HideWindow(this);">
      <span class="window_title"></span>
      <div class="close-button" onclick="Win.HideWindow(this);"></div>
    </div>
  </div>

  <div  class="window prototype simple">
    
  </div>
  
  <win class="window_manager invisible" type="frame_window" module="System.Windows.htm" draggable="true" drag-type="self" title="Win Manager"> 
    <div class="windows"></div>
  </win>



  <div class="window_manager_item"> 
    <div class="title"></div>
   </div>
  

