body{
    background-color: #fff;
}

.block {
    background: rgba(255, 255, 255, 0.6);
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 85%;
    height: auto;
}

.header.toolbar .menuitem.disabled{
    background-color: gray;
    opacity: 0.2;
}

#Notify{
    background-color: white;
    border: 1px solid navy;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    font-size: 16px;
    text-align: left;
    opacity: 0.5;
    top: 1%;
    right: 1%;
    z-index: 20;
    padding: 7px;
    font-size: 12px;
    overflow: hidden;
}

#Notify .event{
    color: #333;
}

#Notify .event.first{
    background-color:yellow;
}

#Notify .event.error{
    color: red;
}

.js-entity .path{
    width: 200px;
    color: black;
    font-size: 120%;
}

.logger .line div{
    display: inline-block;
    padding-left: 10px;
}

.logger .line .service-name{
    color: green;
}

.logger .line .event-name{
    color: orange;
}
.section .section-header{
    padding: 15px 0px;
    font-size: 160%;
    font-weight: bold;
}

.section .section-name{
    padding-left: 16px;
    font-size: 150%;
    display: inline-block;
}

.section .section-url{
    padding-left: 16px;
    font-size: 130%;
    color: green;
    display: inline-block;
}

#NodesBlock .object-item{
    display: inline-block;
    border: solid 1px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    opacity: 0.6;
    font-family: monospace;
    font-size: 12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#NodesBlock .object-item .inner-wrapper{
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}

#NodesBlock .object-item:hover{
    opacity: 1;
}

#NodesBlock .object-item:hover>.inner-wrapper{
    opacity: 1;
    padding: 13px;
    border: solid 2px navy;
}

#NodesBlock .object-item:active>.inner-wrapper{
    padding: 13px;
    border: solid 2px red;
}

#NodesBlock .object-item:not(.node-group)[status='working']{
    background-color: rgba(100,255,0,0.7);
}
#NodesBlock .object-item:not(.node-group)[status='unloaded'],
#NodesBlock .object-item:not(.node-group)[status='exited'],
#NodesBlock .object-item:not(.node-group)[status='stopped']{
    background-color: rgba(62, 112, 203, 0.5);
}

#NodesBlock .object-item:not(.node-group)[status="exception"]{
    background-color: rgba(255,0,0,0.5);
}

#NodesBlock .object-item:not(.node-group)[status='initialized']{
    background-color: rgba(100,100,100,0.5);
}

#NodesBlock .object-item:not(.node-group)[status='null']{
    background-color: rgba(166,155,0,0.5);
}

#NodesBlock .object-item .node-id{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 18px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#NodesBlock .object-item .node-host{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 16px;
    color: navy;
    font-size: 14px;
}

#NodesBlock .object-item .node-icon{
    width: 34px;
    height: 34px;
    display: inline-block;
    background-size: 34px;
}

#NodesBlock .object-item.managed .node-icon,
#NodesBlock .object-item.internal .node-icon{
    background: url("http://www.iconsearch.ru/uploads/icons/realistik-new/128x128/memory.png") no-repeat center;
    background-size: 34px;

}

#NodesBlock .object-item.isolated .node-icon,
#NodesBlock .object-item.service .node-icon{
    background: url("http://www.iconsearch.ru/uploads/icons/crystalclear/128x128/network_local.png") no-repeat center;
    background-size: 34px;
}

#NodesBlock .object-item.external .node-icon{
    background: url("http://www.iconsearch.ru/uploads/icons/glaze/128x128/network.png") no-repeat center;
    background-size: 34px;
}

#NodesBlock .object-item .node-controls .separator{
    width: 34px;
    height: 34px;
    display: inline-block;
}

#NodesBlock .object-item .node-controls .mini-btn{
    width: 34px;
    height: 34px;
    display: inline-block;
}

#NodesBlock .object-item .node-controls .mini-btn.log{
    background: url('http://cdn1.iconfinder.com/data/icons/fatcow/32/file_extension_log.png') no-repeat center;
    background-size: 30px 30px;
}

#NodesBlock .object-item .node-controls .mini-btn:hover{
    border-radius: 3px;
    background-color: yellow!important;
}

#NodesBlock .object-item .node-controls .mini-btn.start{
    background: url('http://www.iconsearch.ru/uploads/icons/nuove/32x32/player_play.png') no-repeat center;
    display: none;
}

#NodesBlock .object-item[status='stopped'] .node-controls .mini-btn.start,
#NodesBlock .object-item[status='exited'] .node-controls .mini-btn.start,
#NodesBlock .object-item[status='loaded'] .node-controls .mini-btn.start,
#NodesBlock .object-item[status='sleep'] .node-controls .mini-btn.start
{
    display: inline-block;
}

#NodesBlock .object-item .node-controls .mini-btn.stop{
    background: url('http://www.iconsearch.ru/uploads/icons/humano2/32x32/gtk-media-stop.png') no-repeat center;
    display: none;
}

#NodesBlock .object-item[status='working'] .node-controls .mini-btn.stop,
#NodesBlock .object-item[status='sleep'] .node-controls .mini-btn.stop
{
    display: inline-block;
}

#NodesBlock .object-item .node-controls .mini-btn.load{
    background: url('http://www.iconsearch.ru/uploads/icons/humano2/32x32/gtk-media-stop.png') no-repeat center;
    display: none;
}

#NodesBlock .object-item[status='initialized'] .node-controls .mini-btn.load,
#NodesBlock .object-item[status='unloaded'] .node-controls .mini-btn.load
#NodesBlock .object-item[status='exception'] .node-controls .mini-btn.load
{
    display: inline-block;
}

#NodesBlock .object-item .node-controls .mini-btn.unload{
    background: url('http://www.iconsearch.ru/uploads/icons/humano2/32x32/gtk-media-stop.png') no-repeat center;
    display: none;
}

#NodesBlock .object-item[status='working'] .node-controls .mini-btn.unload,
#NodesBlock .object-item[status='sleep'] .node-controls .mini-btn.unload,
#NodesBlock .object-item[status='stopped'] .node-controls .mini-btn.unload,
#NodesBlock .object-item[status='loaded'] .node-controls .mini-btn.unload
{
    display: inline-block;
}

#NodesBlock .object-item .node-controls .mini-btn.remove{
    background: url('http://www.iconsearch.ru/uploads/icons/softwaredemo/32x32/deletered.png') no-repeat center;
}
