<style type="text/css">
    filesTree{
        
    }
    
    filesTree .file{
        height: 35px;
    }
</style>
<script type="text/javascript">
    function FilesView(element){ //element - элемент, найденный в UI к которому применяется данный конструктор. например <filesTree></filesTree>
        this.url = element.get("@url");
        this.element = element;
        ServiceProxy.Connect(this.url).then((service)=>{
            this.init(element, service);
        });
    }
    
    ui.inherit("filesTree", FilesView, { //filesTree - селектор (в строке можно было бы написать и .files-tree) по которому в ui находятся компоненты. например <filesTree></filesTree>
        init: function(service){
            service.Browse().then((files)=>{
                this.render(files);
            });
        },
        
        render: function(files){
            if (files){
                files.forEach((file)=>{
                    this.element.div(".file", JSON.stringify(file));
                });
            }
        }
    });
</script>