<script type="text/javascript" src="%services%/widgets.js"></script>

<style type="text/css">
	.ui-widget {
		border: 1px solid darkorange;
		border-radius: 4px;
		cursor: default;
		font-size: 16px;
		text-align: center;
		background-color: white;		
		vertical-align: top;
		width:10%;
		height:10%;
		float: left;
	}  	
	
	.ui-widget:hover{
		border: solid 1px red;
		box-shadow: 2px 2px 1px silver;
		opacity: 1;
		background-color: #FFFFDD;
		overflow: visible;
	}
	
	
	.ui-widget.float{		
		position: fixed;
		top: 0;
		opacity: 0.6;
		overflow: hidden;
		height: 25px;
		z-index: 20;
	} 
	
</style>