<include url="%ui%/Dragging.htm"></include>

<script type="text/javascript">
    Win = M.GetModuleEndsUrl("win.htm");
    
    Win.init = function(){	
	Win.Small = true;
    }
    
    Win.initComponent = function(win){
		var win = Win.CreateWindow(win, null);
		if (!win)
		{
			return false;
		};
		//element.cls("processed");
		return true;
    };
    
    Win.id = "windows_module";
    
    Win.info = L.Info;
    
    Win.CreateWindow = function(win, module){
	try{
		if (!win) win = WS.Body.add(DOM.div());
	    //WS.Body.add(win);
	    win.cls("window smallwindow");
		win.setTitle = function(title){
			win.title = title;
			this.get(".window_header .window_title").set(null, title);
		}
	    win.title = win.attr("title");
	    if (!win.title){
			win.title = " ";   
	    }
	    win.module = module;
	    win.ShowWindow = win.WindowShow = Win.WindowShow;
	    win.WindowHide = Win.WindowHide;
	    win.WindowClose = Win.WindowClose;
	    Ev.CreateEvent("OnWindowShow", win);
	    Ev.CreateEvent("OnWindowHide", win);
    	Ev.CreateEvent("OnWindowClose", win);
	    var header = win.header = win.ins(DOM.div(".window_header"));
	    header.innerHTML = '<span class="window_title">' + win.title +'</span>';
	    header.ondblclick = 
		function(){
		    win.WindowHide();
		};
	    //header.attr("drag-type", "dragger");
	    //header.attr("draggable", "true");
	    var close = header.div(".close-button"); 
	    close.onclick = function(){
			win.WindowHide();
	    };
		Drag.MakeDraggable(header, "dragger"); 

	    if (module){
		if (module.InitWindow){
		    module.InitWindow(win);
		}
	    }
	    
	    win.attr("title", '')
	    
	    Win.info("created", win.ToString());
	    return win;
	}
	catch(e)
	{
	    L.LogError(e, "System.Win.htm : CreateWindow: " + win ? win.ToString() : "null", "System.Win.htm");
	}    
    };
    
    Win.WindowShow = function(){
        if (this.OnWindowShow.fire()){
	    this.show();
	}
    };
    
    Win.WindowClose = function(elem){
        if (this.OnWindowClose.fire()){
	    this.del();
	}
    };
    
    Win.WindowHide = function(elem){
	if (this.OnWindowHide.fire()){
	    this.hide();
	}
    };
    
    Win.MakeTop = function(){
	var win = this.findParent(".window");
	var top = W.get(".window.top");
	if (top != null){
	    top.rcs("top"); 
	}
	win.cls("top");
    };
    
	Win.Context = {id: "windows-module"};
    Win.Context.Condition = "ui-processing";
    Win.Context.Selector = "win:not(.prototype):not(.jasp-processed-windows-module),.window:not(.prototype):not(.jasp-processed-windows-module)";
    Win.Context.Process = function(element, context, module)
	{
	    var win = Win.CreateWindow(element, module);
		WS.Body.add(win);
	    if (!win)
	    {
			return false;
	    };
		if (win.id){
			window[win.id] = win;
		}
	    //element.cls("processed");
	    return true;
	};      
    
    Contexts.Add(Win.Context);  
     
</script>



<style type="text/css" id="system.Win.htm">
    
    .window
	{
	-moz-box-sizing: border-box;
	color: black;
	font-family: verdana;
	font-size: 12px;
	position:fixed;
	z-index: 100;
	background-color: white;
	background-image:url(data:image/gif;base64,R0lGODlhAwADAIAAANve4f/7/yH5BAAAAAAALAAAAAADAAMAAAIETHAZBQA7);
	border: solid 1px gray;
	border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 5px;
	top: 0;
	left: 0;
	min-width: 100px;
	min-height: 100px;
    }
    
    
    .window.top
	{
	z-index: 200;
    } 
    
    .window .window_header
	{
	width: 80%;
	height: 20px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
	border: solid 1px yellow;
	background-color: #EA0;
	font-weight: bold;
	color: navy;
	position: relative;
    }
    
    .window .window_header:hover
	{
	background-color: #FFCC33; 
	cursor: move;
    }
    
    
    .window .window_header .close-button
	{
	position: absolute;
	top: 1px;
	right: 2px;
	width: 24px;
	height: 24px;
	float: right;
	background: url("http://system.web-manufacture.net/Images/gtk-close.png") no-repeat;
    }
    
    
    .window .window_header .close-button:hover
	{
	border: dotted 1px gray; 
    }
    
</style>
